{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Document {% endblock %}</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'estilo.css' %}">
<body>
    <header>
        <div class="row align-items-start">
            <div class="col">
                <img src="img/logo-ifrn.png" class="img-fluid" alt="">
            </div>
            <div class="col">
                <h4 class="info">Info Web 3M</h4>
                <h5 class="info">Alunos: Eduardo Mauricio, Eugênio Urbano, Fernanda Liliam,</h5>
                <h5 class="info"> Helloar Lavinia, Milleny Jamily e Thierry Henry</h5>
            </div>
        </div>
    </header >
    
    
    <script src="static/bootstrap.bundle.min.js"></script>
</body>
<footer>
    <p ><a href="https://blog.dietbox.me/as-10-perguntas-mais-frequentes-sobre-nutricao/">Referencia</a></p>
</footer>
</html>