{% extends "base.html" %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}
<div class="container text-center">
  <img id="foto1" src="img/alimentos-saudaveis-saude-alimentacao-frutas.jpg" class="img-fluid" alt="">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <section  class="duv" id="intre">
      </div>
      <section  class="Post">
        <div >
          <h1>Post</h1>
          <div class="row-cards">
            {% for Post in Posts %}
              <div class="card" style="width: 18rem;">
                  <img src="{% static Post.imagem %}" class="card-img-top" alt="{{ Post.titulo }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ Post.titulo }}</h5>
                    <div class="card-text">
                      <p> {{ Post.subtitulo }}</p>
                      <p> {{ Post.descricao }}</p>
                      <p> {{ Post.conteudo }}</p>
                    </div>
                  </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>

  </section>
                
{% endblock %}