{% extends "base.html" %}
{% load static %}

{% block title %} Inicio {% endblock %}
{% block content %}
<div class="container text-center">
    <img id="foto1" src="img/alimentos-saudaveis-saude-alimentacao-frutas.jpg" class="img-fluid" alt="">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <section  class="duv" id="intre">
            <img src="{{ post.imagem.url }}" class="card-img-top" alt="{{ post.titulo }}" >
            <h5>{{ post.titulo }}</h5>
            <p> {{ post.conteudo }}</p>
        </section>
      </div>
    </div>
  </div>
  {% endblock %}